nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  width: 40vw;
  margin-left: 10%;
  font-family: 'Georgia', 'Times New Roman', serif; /* Elegant serif font */
}

nav a {
  text-decoration: none;
  font-size: larger;
  color: #333;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #dfd1d0;
  color: #fff;
}
